<div class="welcome" fxHide.lt-lg fxLayout.gt-md="row" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
    <section>
        <h1>For Students</h1>
        <p>To anonymously give feedbacks directly to their faculty.</p>
    </section>

    <section>
        <h1>Feedback System</h1>
        <p>Feedback solution for a better environment.</p>
        <img src="../../assets/images.png" fxFlex>
    </section>

    <section>
        <h1>For Teacher</h1>
        <p>To see the feedback of the students.</p>
    </section>
</div>

<div class="welcome" fxShow.lt-md fxHide.gt-md fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../assets/images.png" fxFlex>
    <section>
        <h1>Feedback System</h1>
        <p>Feedback solution for a better environment.</p>
    </section>

    <section>
        <h1>For Students</h1>
        <p>To anonymously give feedbacks directly to their faculty.</p>
    </section>

    <section>
        <h1>For Teacher</h1>
        <p>To see the feedback of the students.</p>
    </section>
</div>

<mat-card fxLayout="column" fxLayoutAlign="center center">

    <mat-card-title>
        <h2>HOW TO REACH US</h2>
    </mat-card-title>

    <mat-card fxLayout="row" fxFlex class="infoCont" fxLayout.lt-md="column">
        <mat-card class="info" fxLayout="column" fxLayoutGap="30px" fxFlex>

            <mat-card fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-icon>phone</mat-icon>
                <div> 0172 469 1800 , 095011 05714</div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-icon>email</mat-icon>
                <div>admissions@chitkara.edu.in</div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-icon>directions</mat-icon>
                <div>Chandigarh-Patiala National Highway (NH- 64), Village, Jansla, Rajpura, Punjab 140401</div>
            </mat-card>

        </mat-card>

        <mat-card class="map" fxFlex>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </mat-card>

    </mat-card>

</mat-card>