<h2>{{teacherName}}</h2>
<mat-vertical-stepper linear='true' #stepper="matVerticalStepper">
  <mat-step label="How well did you undertood the project?" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="firstCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="What do you think was the level of knowledge of the subject to the professor?" [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="secondCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="What was the level of difficulty of the subject?" [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="thirdCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="Was the professor accessible outside the class?" [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="fourthCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="Would you recommend the professor to your juniors?" [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="fifthCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step label="Was the professor interactive in class?" [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="sixthCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="Is the professor a tough grader?" [stepControl]="seventhFormGroup">
    <form [formGroup]="seventhFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="seventhCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="Did the professor recommended you to use textbook?" [stepControl]="eighthFormGroup">
    <form [formGroup]="eighthFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="eighthCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step label="Was the professor entertaining enough to keep the lecture lit?" [stepControl]="ninthFormGroup">
    <form [formGroup]="ninthFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="ninthCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="Did the proffesor used projector to make you understand the topic better?" [stepControl]="tenthFormGroup">
    <form [formGroup]="tenthFormGroup" fxFlex>
      <mat-card>
        <mat-radio-group fxLayoutGap="20px" formControlName="tenthCtrl">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-step [stepControl]="eleventhFormGroup">
    <form [formGroup]="eleventhFormGroup">
      <ng-template matStepLabel>Feedback For Teacher</ng-template>
      
      <mat-form-field class="textbox">
        <textarea matInput placeholder="Enter Feedback" formControlName="eleventhCtrl" required></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h2>You are now done.</h2>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Submit</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
  </mat-step>
</mat-vertical-stepper>