<h2>Teacher Name</h2>
<form>
  <mat-vertical-stepper>

    <mat-step label="Question1" linear="true">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px" required>
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question2" required>
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question3" required>
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question4">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question5">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question6">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question7">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question8">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question9">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

    <mat-step label="Question10">
      <mat-card>
        <mat-radio-group fxLayoutGap="3px">
          <mat-radio-button value="1">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="2">
            <mat-icon>sentiment_dissatisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="3">
            <mat-icon>sentiment_neutral</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="4">
            <mat-icon>sentiment_satisfied</mat-icon>
          </mat-radio-button>
          <mat-radio-button value="5">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-step>

  </mat-vertical-stepper>

  <button mat-raised></button>
</form>